{% extends "adminbase.html" %} 
{% block title %} {{request.user}} 
{% block style %}
    {% comment %} body{
        background-color:black;
    } {% endcomment %}
    
{% endblock style %}
{% endblock title %} {% block nav %} {{request.user}} | Event Calendar {% endblock nav %} {% block body %}
<div class="cal_css " style="padding-top: 52px;">
    <iframe src="https://embed.styledcalendar.com/#2aQs6CgP6sdbOwPcX9ML" title="Styled Calendar" class="styled-calendar-container" style=" padding-bottom: 20px;width: 100%; height: 100vh; border: none;" data-cy="calendar-embed-iframe"></iframe>
</div>
{% endblock body %}